# start as a service
listen=YES

# run background
background=YES

# name of pam-service for vsftpd
pam_service_name=vsftpd

# control incoming connections through tcp_wrappers
tcp_wrappers=YES

# enable or disable anonymous users
anonymous_enable={{ enable_anonymous | default('NO') }}

# folder for anonymous access
anon_root={{ folder_for_anonymous | default('/tmp') }}

# enable enter for local users
local_enable=YES

# enable commands for write and change
write_enable=YES

# use port 20 for outcomin connections
connect_from_port_20=YES

# log all transactions
xferlog_enable={{ enable_logs | default ('NO') }}

# log file path
xferlog_file={{ logfile_path | default ('/var/log/vsftpd.log') }}

# enable special ftp commands
async_abor_enable=YES

# close local users in their homefolders
chroot_local_user=YES

# enable/disable list of users who can go off from chrooted home
chroot_list_enable=YES

# list of privileged users
chroot_list_file=/etc/vsftpd/chroot_list

# enable writing to chroot home folder
allow_writeable_chroot=YES

# control access users from list
userlist_enable=YES

# list of approved users
userlist_file=/etc/vsftpd/user_list

# decline user if not in user_list
userlist_deny=NO

# folder with users
user_config_dir=/etc/vsftpd/users

# show dot files
force_dot_files=YES

# umask for new files
local_umask=022

# ports for passive access
pasv_min_port={{ passive_port_start | default ('49000') }}
pasv_max_port={{ passive_port_end | default ('55000') }}
